name: End-to-end tests
on: push
#  schedule:
#    - cron: '*/15 * * * *'
jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - uses: actions/upload-artifact@v3
        with:
          name: my-artifact
          path: path/to/artifact/ # or path/to/artifact
      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          spec: cypress/e2e/Practice/Test1.cy.js