name: End-to-end tests
on: push
#  schedule:
#    - cron: '*/15 * * * *'
jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          spec: cypress/e2e/Practice/Test1.cy.js
      - name: Uploading artifact
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cypress-execution-report
          path: cypress/reports/html
          retention-days: 30
      - uses: actions/download-artifact@v3
        with:
          name: cypress-execution-report
      - name: Display structure of downloaded files
        run: ls -R
        working-directory: cypress/reports/html
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Move or copy artifacts
        run: |
          mkdir -p desired/location  # Create the desired location if it doesn't exist
          mv cypress/reports/html desired/location  # Move the artifacts to the desired location

 